.uk-container.uk-margin-auto.uk-margin-large-top
  h1.uk-heading.uk-heading-medium.uk-text-center.uk-margin-large Contact Me!
  p.uk-text-lead.uk-margin-large.uk-text-center Got something to say to me? Come at me then, right here right now, localized entirely on this page.
  == render "form", contact_request: @contact_request