
- if @projects
  .uk-grid.uk-grid-small.uk-grid-match class="uk-child-width-1-3@s uk-child-width-1-4@m" uk-scrollspy="target: > div; cls: uk-animation-slide-top; delay: 500"
    - @projects.each do |post|
      == render partial: "project", locals: {post: post}