//= require "actiontext.css"
@use "sass:color";
$navbar-nav-item-height: 40px;
$global-primary-background: #6527BE;
$global-muted-background: #EEE;
// $global-secondary-background: #333;
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";


#navbar {
    background-color:$background-primary-background;
    nav { background-color:transparent; }
    * {
        color:white;
    }
}

#hero {
    h1 {
        font-family: 'Kanit', sans-serif;
        line-height:.7;
        margin:0;
    }
}
#hero-canvas {
    min-height:20vh;
}
.button_to { display:inline;}